<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Jasa-Teknokrat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="css/main.css">

        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!-- Navigation & Logo-->
		<div class="mainmenu-wrapper">
			<div class="container">
					<div class="menuextras">
							<div class="extras">
								<ul>
									<li class="shopping-cart-items"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> <a href="page-shopping-cart.html"><b>3 items</b></a></li>
									<li>
										<div class="dropdown choose-country">
											<a class="#" data-toggle="dropdown" href="#"><img src="img/flags/gb.png" alt="Great Britain"> UK</a>
											<ul class="dropdown-menu" role="menu">
												<li role="menuitem"><a href="#"><img src="img/flags/us.png" alt="United States"> US</a></li>
												<li role="menuitem"><a href="#"><img src="img/flags/de.png" alt="Germany"> DE</a></li>
												<li role="menuitem"><a href="#"><img src="img/flags/es.png" alt="Spain"> ES</a></li>
											</ul>
										</div>
									</li>
									<li><a href="login">Login</a></li>
								</ul>
							</div>
						</div>
				<nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><a href="index.ejs"><img src="img/logo/logo.png" alt="Multipurpose Twitter Bootstrap Template"></a></li>
						<li>
							<a href="/">Home</a>
						</li>
						<li class="active">
							<a href="/jasa">Jasa</a>
						</li>
						<li>
							<a href="/tentang-kami">Tentang Kami</a>
						</li>
					</ul>     
				</nav>
			</div>
		</div>

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Desainer Terbaik</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<!-- Product -->
						<div class="shop-item">
							<!-- Product Image -->
							<div class="image">
								<a href="/detail-jasa"><img src="img/desain-logo/TOURBRO.png" alt="Item Name"></a>
							</div>
							<!-- Product Title -->
							<div class="title">
								<h3><a href="/detail-jasa">Logo Mobil</a></h3>
							</div>
							<!-- Product Available Colors-->
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
								<span class="color-blue"></span>
								<span class="color-orange"></span>
								<span class="color-green"></span>
							</div>
							<!-- Product Price-->
							<div class="price">
								<span class="price-was">Rp. 100.000</span> Rp. 50.000
							</div>
							<!-- Product Description-->
							<div class="description">
								<p>Kontak : 0815403123</p>
							</div>
							<!-- Add to Cart Button -->
							<div class="actions">
								<a href="/detail-jasa" class="btn"><i class="icon-shopping-cart icon-white"></i>Selengkapnya</a>
							</div>
						</div>
						<!-- End Product -->
					</div>
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<a href="/detail-jasa"><img src="img/desain-logo/TOURBRO2.png" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="/detail-jasa">Lorem ipsum dolor</a></h3>
							</div>
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
							</div>
							<div class="price">
								Rp. 100.000
							</div>
							<div class="description">
								<p>Kontak WA : 089950102909</p>
							</div>
							<div class="actions">
								<a href="/detail-jasa" class="btn"><i class="icon-shopping-cart icon-white"></i>Selengkapnya</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<a href="/detail-jasa"><img src="img/desain-logo/Untitled-1.png" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="/detail-jasa">TOURBRO</a></h3>
							</div>
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
								<span class="color-blue"></span>
							</div>
							<div class="price">
								Rp. 75.000
							</div>
							<div class="description">
								<p>Kontak WA : 0899090909</p>
							</div>
							<div class="actions">
								<a href="/detail-jasa" class="btn"><i class="icon-shopping-cart icon-white"></i>Selengkapnya</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<a href="/detail-jasa"><img src="img/product4.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="/detail-jasa">Lorem ipsum dolor</a></h3>
							</div>
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
								<span class="color-blue"></span>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
							</div>
							<div class="actions">
								<a href="/detail-jasa" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<a href="/detail-jasa"><img src="img/product5.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="/detail-jasa">Lorem ipsum dolor</a></h3>
							</div>
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
								<span class="color-blue"></span>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
							</div>
							<div class="actions">
								<a href="/detail-jasa" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<a href="/detail-jasa"><img src="img/product6.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="/detail-jasa">Lorem ipsum dolor</a></h3>
							</div>
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
							</div>
							<div class="actions">
								<a href="/detail-jasa" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination-wrapper ">
					<ul class="pagination pagination-lg">
						<li class="disabled"><a href="#">Previous</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><a href="#">10</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
	    </div>

	   
	 
<%- include ../templates/footer.ejs %>